{% raw %}{{- if and .Values.frontend .Values.frontend.enabled (not (default false .Values.frontend.skip)) }}
{{- $saConfig := dict "Values" .Values -}}
{{- $_ := set $saConfig "Namespace" $.Release.Namespace -}}
{{- $_ := set $saConfig "ApplicationGroup" (default "app" .Values.project) -}}
{{- $_ := set $saConfig "Name" (default "frontend" .Values.frontend.image.name) -}}
{{- $_ := set $saConfig "ModuleValues" .Values.frontend -}}
{{- $_ := set $saConfig "LabelData" "frontend.pod.labels" -}}
{{- $_ := set $saConfig "Labels" (dict "app.kubernetes.io/component" "frontend") -}}
{{ include "ag-template.serviceaccount" $saConfig }}
{{- end }}
{% endraw %}
